<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rozetka Table</title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
</head>
<body>
<div style="display: block;margin-left: auto; margin-right: auto; width: 110px; height: 110px" class="loader"></div>
<div id="divTable" style="display: none; margin-left: auto; margin-right: auto; width: 1000px; height: 450px">
    <table id="table" class="display">
        <thead>
        <tr>
            <th>feed_id</th>
            <th>product_name</th>
            <th>price</th>
            <th>url</th>
            <th>status</th>
<!--            <th>commands</th>-->
        </tr>
        </thead>
    </table>
</div>
<script type="text/javascript" src="/js/rozetka.js"></script>
</body>
</html>