<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rozetka Table</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/searchpanes/1.3.0/js/dataTables.searchPanes.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/1.3.0/css/searchPanes.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
</head>
<body>
<div style="display: block;margin-left: auto; margin-right: auto; width: 110px; height: 110px" class="loader"></div>
<div id="divTable" style="display: none; margin-left: 50px; margin-right: 50px; width: auto; height: 450px">
<!--    <div>-->
<!--        <select id="statusSelect">-->
<!--            <option value="0">ПОЛНОЕ_СОВПАДЕНИЕ</option>-->
<!--            <option value="1">ТОЧНОЕ_СОВПАДЕНИЕ</option>-->
<!--            <option value="2">ЧАСТИЧНОЕ_СОВПАДЕНИЕ</option>-->
<!--        </select>-->
<!--        <button onclick="btnClick()">Показать</button>-->
<!--    </div>-->
<!--    -->
    <table id="table" ellSpacing="0" width="100%" class="display nowrap">
        <thead>
        <tr>
            <th>id</th>
            <th>feed_id</th>
            <th>product_name</th>
            <th>price</th>
            <th>url</th>
            <th>status</th>
            <!--            <th>commands</th>-->
        </tr>
        </thead>
    </table>
</div>
<script type="text/javascript" src="/js/rozetka.js"></script>
</body>
</html>